{% extends 'base.html' %}

{% block metatags %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Ygeia Project 1: PotPerm Calculator">
  <meta name="description" content="Potassium Permanganate Calculator, Project 1 of Ygeia Research">
  <meta name="author" content="Ygeia">
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="ygeia. research, water crisis, project, 1">
  <meta property="og:site_name" content="Ygeia Research">
  <meta property="og:url" content="https://ygeiaresearch.org/project-1">
  <meta property="og:title" content="Ygeia Project 1: PotPerm Calculator">
  <meta property="og:description" content="Potassium Permanganate Calculator, Project 1 of Ygeia Research">
  <meta property="og:image" content="https://ygeiaresearch.org/static/img/jellyfish.png">


{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-1 box">
	<h1 style="color:#111; font-size:50px; font-weight: bold;"> Project 1: PotPerm Calculator </h1>
	<p> This is the Potassium Permanganate calculator, the first project of Ygeia Research. It takes 2 inputs, Fe amount and Mn amount, and outputs a PotPerm amount, using the equation [Mn+2] * 1.92 + [Fe+2] * 0.57 (all concentrations in mg/L) </p>
	<br>
	<div class="col-md-8 calculator-box">
		<div class="inputlabel">Mn amount</div>
		<input type="number" id="mn_amt" name="mn_amt" class="input col-md-3">
		
		<br><br><br>

		<div class="inputlabel"> Fe amount</div>
		<input type="number" id="fe_amt" name="fe_amt" class="input col-md-3">

		<br><br><br>
		<div class="outputlabel">KMnO_4 amount needed</div>
		<div id="output" class="col-md-3">Waiting for input...</div>
	</div>
	<div class="col-md-4">
		This calculator is based off of the findings of this paper:

		<b><a href=" https://www.e3s-conferences.org/articles/e3sconf/pdf/2021/36/e3sconf_aepee2021_01025.pdf"> Research on removal of manganese in drinking water by potassium permanganate </a></b>

	</div>
	<div style="clear:both">
	<br>
	<p> <b>Disclaimer:</b> This is ideally for water pH of 7 - 7.5 and reaction time of 5-10 minutes. 
	<p><b> <a href="https://github.com/ygeiaresearch/ygeia/blob/master/ygeia/static/js/main.js#L3"> Source Code </a></b></p>
	</div>
</div>
{% endblock %}

{% block more_js %}
<script>

	Template = {
		render : function(){
			Template.keyups()
		},
		keyups : function(){
			$('.input').keyup(function(){
				var mn_amt = $('#mn_amt').val();
				var fe_amt = $('#fe_amt').val();
				$('#output').text(
					Ygeia.calculate_amt_pot_perm(
						mn_amt,
						fe_amt
					)
				)
			})
		}
	}
	$(document).ready(function(){
		Template.render()
	})
</script>
{% endblock %}