{% extends 'base.html' %}

{% block content %}

            <div id="main-pic">
                
            </div>
                <div class="hic-overimage col-md-10 col-md-offset-1">
                    <div class="description-panel hic-oi-text col-md-5">
                        <div class="dpheadline">
                            Using cutting edge engineering to solve the water crisis.
                        </div>
                       <div class="dpdescription">
                            Ygeia Research is a nonprofit of chemists, chemical engineers, and software engineers, working to solve the water crisis. 
                       </div> 
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <div class="boxxy col-md-12">
                            Collaborate <br><br>
                            <a class="uborbg bst" href="https://old.reddit.com/r/ygeia">
                                <i class="fab fa-reddit"></i> Join our subreddit
                            </a>
                            <a class="discord bst" href="https://discord.gg/78PzXAS7Fy" >
                                <i class="fab fa-discord"></i> Join our Discord
                            </a><br><br>
                            Use Ygeia<br><br>
                            <a href="/projects" class="tealbg bst">
                                <i class="fa fa-database"></i> Project Database
                            </a> 
                            <a href="/documentation" class="tealbg bst">
                                <i class="fa fa-book"></i> Documentation
                            </a>
                            <a href="https://github.com/ygeiaresearch/ygeia" class="tealbg bst">
                                <i class="fa fa-terminal"></i> Source Code
                            </a> 
                        </div>
                    </div>
                </div>
                <div class="under-main-pic">
                    <div class="col-md-10 col-md-offset-1 nhp">
                        <div class="row section section1">
                            <center class="marginb0">
                                <h2> What is Ygeia Research? </h2>
                                <p class="medfont"> Ygeia is a nonprofit of chemists, chemical engineers, and software engineers, working to solve the water crisis. </p>
                            </center>
                            
                            <div class="stepsrow">
                                <div class="step step1 col-md-3 col-sm-12 col-xs-12">
                                    <div class="s1top">
                                        <i class="fa fa-code"></i> &nbsp; Open Source
                                    </div>
                                    <div class="line"></div>
                                    <div class="s1bottom">
                                        All code for projects is open source at GitHub under the MIT License, and all of our designs are under the Creative Commons License.

                                        
                                    </div>
                                </div>
                                <div class="step step2 col-md-3 col-sm-12 col-xs-12">
                                    <div class="s1top">
                                        <i class="fa fa-book-open"></i> &nbsp; Research
                                    </div>
                                    <div class="line"></div>
                                    <div class="s1bottom">
                                        We aim to be a hub for water purification research. We aim to be collaborative and communicative, to make things easier for people to solve water crises in their own communities.
                                    </div>
                                </div>
                                <div class="step step3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="s1top">
                                        <i class="fa fa-globe"></i> &nbsp; Affordable or Free Products
                                    </div>
                                    <div class="line"></div>
                                    <div class="s1bottom">
                                        Based on our donations, we aim to be a nonprofit that can provide clean water products to those in need for free or for less than $1. 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
               
                <div class="ud3">
                    <div class="col-md-10 col-md-offset-1 nhp">
                        <div class="ud2right col-md-5"> <!-- actually left -->
                            <h1> Ygeia @ Github </h1>

                            <h2> Ygeia is Free and Open Source Software and Technology for Water Purification </h2>
                            <p> Everything produced by Ygeia and its members and contributors is open source. We are combating the lack of access to information and lack of money constraints in the water crisis.</p>

                            <a href="/directory" class="tealbg bst nhm">
                                <i class="fa fa-code"></i> Visit Ygeia @ Github
                            </a>
                        </div>
                        <div class="ud2left col-md-6 col-md-offset-1"> <!-- actually right -->
                            <img src="/static/img/opensource.png" alt="Ygeia @ GitHun" class="br5"/>
                        </div>
                        
                    </div>
                </div>


                <div class="under-main-pic">
                    <div class="col-md-10 col-md-offset-1 nhp">
                       <center class="marginb0">
                                <h2 class="dpheadline"> Interested? Join our community </h2>
                                <p class="medfont"> You can join our community by either joining our <a href=""> Discord </a> or our <a href="https://old.reddit.com/r/ygeia"> subreddit on Reddit. </a> </p>
                            
                                <p>
                                    Active contributors can apply for official membership <a href="mailto:michael@ygeiaresearch.org"> here. </a>
                                </p>

                                <br>

                                 <a href="/accounts/signin" class="tealbg bst">
                                <i class="fa fa-sign-in-alt"></i> Log in
                            </a> 
                             <a href="/accounts/signup" class="tealbg bst">
                                <i class="fa fa-user"></i> Register
                            </a> 

                        </center>
                            </div>
                    </div>
                </div>

        </div>
        
        

{% endblock %} 

{% block more_js %}

{% endblock %}