{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block more_css %}
<style>
    @font-face {
      font-family: 'helvneue';
      src: url(/static/fonts/helveticaneue/HelveticaNeue.ttf);
    }
    body{
        font-family: 'helvneue', 'Helvetica';
    }
    h1{
        font-family: 'helvneue';
    }
  .blog-content{
    margin-top: 20px;
    padding: 30px;
  }

  .block-visualization a{
    padding: 25px;
  }
    .richtext-image{
        padding: 25px;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .list-unstyled-top>li{
        border-bottom: 1px solid #aaa;
        padding: 15px 0px;
        list-style: none;
    }
    .triangles{
        background: url(/static/img/triangles.svg);
        width: 100%;
        height: 200px;
        top: 50px;
        left:  0px;
        position: absolute;
    }

    .blog-page-header{
        position: relative;
        margin-top: 50px;
        height: 200px;
    }

    .blog-page-header-nav{
        color: white;
        padding: 10px;

    }

    .blog-page-header a{
        color: #ddd;
    }

    .blog-page-header a:hover{
        color: #fff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #eee;
    }
</style>
{% endblock %}

{% block content %}

    <div class="triangles">

    </div>

    <div class="blog-page-header" style="width:100%;">
        <div class="col-md-10 col-md-offset-1" style="margin-top:50px;">
            <h2 style="font-size:50px;"> {{page.title}}, on <img src="/static/img/mo.png" style="filter:brightness(100)" height="50px" class="Market Outcomes" /> </h2>
            <h6 class="blog-page-header-nav"> <a href="/journal/home"> The Journal </a> > <a href="/journal/home"> {{page.get_article_type_display}} </a> > <a href="/journal/{{page.blogpage.article_subtype|slugify}}"> {{page.blogpage.get_article_subtype_display}}</a> > <a href="/journal/client/{{page.blogpage.article_focus}}"> {{page.article_focus}} </a> > <a href="/journal/{{page.slug}}"> {{page.title}} </a> </h6>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1" style="float:none;height:auto;overflow:auto">
        <nav id="sidebar" class="col-md-2" style="margin-top:30px">
            <div class="p-4 pt-5">
            <ul class="list-unstyled-top components mb-5">
            <li>
            <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">New Product Development</a>
            <ul class="collapse list-unstyled" id="pageSubmenu1">
            <li><a href="/journal/client/Walmart"> &nbsp; &nbsp;  Walmart</a></li>
            <li><a href="#"> &nbsp; &nbsp;  Nestle</a></li>
            </ul>
            </li>
            <li>
            <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profiling / Segmentation</a>
            <ul class="collapse list-unstyled" id="pageSubmenu2">
            <li><a href="#">&nbsp; &nbsp; </span> Rogers</a></li>
            <li><a href="#">&nbsp; &nbsp; </span> GBB</a></li>
            </ul>
            </li>
            <li>
            <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Product / Market Forecasting</a>
            <ul class="collapse list-unstyled" id="pageSubmenu3">
            <li><a href="#">&nbsp; &nbsp; </span> Johnson & Johnson</a></li>
            <li><a href="#">&nbsp; &nbsp; </span> Intel</a></li>
            </ul>
            </li>
            <li>
            <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pricing</a>
            <ul class="collapse list-unstyled" id="pageSubmenu4">
            <li><a href="#">&nbsp; &nbsp; </span> Lexus</a></li>
            <li><a href="#">&nbsp; &nbsp; </span> Honda</a></li>
            </ul>
            </li>

            <li>
            <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customer Satisfaction</a>
            <ul class="collapse list-unstyled" id="pageSubmenu5">
            <li><a href="#">&nbsp; &nbsp; </span> Pepsi</a></li>
            <li><a href="#">&nbsp; &nbsp; </span> Coca Cola</a></li>
            </ul>
            </li>
            </ul>
            
            <div class="mb-5">
            <h5>Search</h5>
            <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
            <div class="icon"><span class="icon-paper-plane"></span></div>
            <input type="text" class="form-control" placeholder="Search Case Studies">
            </div>
            </form>
            </div>
            </div>
            </nav>
        <div class="blog-content col-md-10">
            {{page.body}}
        </div>
    </div>
	
{% endblock %}

{% block more_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

	<script>
	{% for visualization in page.blogpage.visualizations.all %}
		{{visualization.code|safe}}
	{% empty %}

	{% endfor %}
	</script>

{% endblock %}